.navbar {
  background: darkblue;
  font-size: 20px;
  padding: 20px 0;
  color: white;
}

.navbar div {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

@media (min-width: 576px) {
  .navbar div {
    margin-bottom: 0;
    text-align: center;
    width: 33.333%;
  }
}

.navbar div:first-child {
  letter-spacing: 2px;
  font-weight: 900;
}


.divider {
  margin: 0 10px;
}

.correct {
  animation: correctGuess 0.5s;
}

.incorrect {
  animation: incorrectGuess 0.5s;
}

@keyframes incorrectGuess {
  0% {
    color: white;
  }

  25% {
    color: red;
  }

  75% {
    color: red;
  }

  100% {
    color: white;
  }
}

@keyframes correctGuess {
  0% {
    color: white;
  }

  25% {
    color: green;
  }

  75% {
    color: green;
  }

  100% {
    color: white;
  }
}